[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
requests = "*"
cryptography = "*"
mysql-connector = "*"
mysql-connector-python = "*"
flask-mysql = "*"
itsdangerous = "==2.0.1"
mysqlclient = "*"
sqlalchemy = "*"
flask-migrate = "*"
greenlet = "*"
pymysql = {extras = ["rsa"], version = "*"}
dpath = "*"
pylint-flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy-views = "*"
sqlalchemy-filters-plus = "*"
sqlalchemy-filters = "*"
flask-filter = "*"
pylint-flask = "*"
colorama = "*"
flask-restful = "*"
transformers = "*"
flask-sqlalchemy = "*"
beautifulsoup4 = "*"
googletrans = "==4.0.0rc1"
sentence-transformers = "*"
faiss-cpu = "*"
flask-apispec = "*"
flask-jwt-extended = "*"
passlib = "*"
huggingface-hub = "*"
cachetools = "*"
click = "*"
torch = "*"
gensim = "*"
rank-bm25 = "*"
marshmallow = "*"
tensorflow = "*"
bcrypt = "*"
numpy = "*"
pandas = "*"

[dev-packages]
black = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.9"
