[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-oidc = "*"
cryptography = "*"
mysql-connector = "*"
mysql-connector-python = "*"
flask-mysql = "*"
itsdangerous = "==2.0.1"
mysqlclient = "*"
sqlalchemy = "*"
flask-migrate = "*"
greenlet = "*"
pymysql = {extras = ["rsa"], version = "*"}
dpath = "*"
pylint-flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
sqlalchemy-views = "*"
sqlalchemy-filters-plus = "*"
sqlalchemy-filters = "*"
flask-filter = "*"
pylint-flask = "*"

[dev-packages]
black = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.9"
