.container{ 
  
  flex-direction: column; 
  justify-content: space-around; 

  align-items: center; 
} 
.dropdown-menu {
  height: 70px;
  overflow-y: scroll;
}
.sample-container-2 {
  margin: 30px 0;
  background: #fff;
}

.tableA {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
  
}

.tableA td, tr {
  text-align: center;
}
