.homeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.home-list {
  width: 100% !important;
  
}

.homeContainer a:-webkit-any-link {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.home-avatar {
  width: 50px;
  max-width: none !important; /*overrides semantic-ui-react max-width of 100% */
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 4px;
}

.home-text {
  vertical-align: middle;
  text-align: left;
}

.home-vertical {
  position: relative;
  top: 10%;
  
}

.home-row {
  display: flex;
  flex-direction: row;
}
.avatar {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.home-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-stats {
  font-size: 14px;
  vertical-align: middle;
  left: 25%;
}

.home-meta a {
  color: gray !important;
  font-size: 12px;
}

.home-meta b{
  color: gray !important;
  font-size: 10px;
}

.home-error {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  color: rgba(231, 76, 60,1.0);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.statusMessage-default {
  text-align: center;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.statusMessage-modal {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loader {
  width: 100%;
  height: 49px;
  text-align: center;
}

.loader-spinning-wheel {
  width: 49px;
  height: 49px;
  margin: 0 auto;
  border: 5px solid #cccccc;
  border-radius: 50%;
  border-top: 5px solid #1d4d8b;
  animation: loader-spin infinite 1s linear;
}

@keyframes loader-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.forumContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.forum-list {
  width: 100% !important;
}

.forumContainer a:-webkit-any-link {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.forum-avatar {
  width: 50px;
  max-width: none !important; /*overrides semantic-ui-react max-width of 100% */
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 4px;
}

.forum-text {
  vertical-align: middle;
  text-align: left;
}

.forum-vertical {
  position: relative;
  top: 25%;
}

.forum-row {
  display: flex;
  flex-direction: row;
}

.forum-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forum-name {
  font-weight: bold;
}

.forum-stats {
  font-size: 14px;
  vertical-align: middle;
  left: 25%;
}

.forum-meta a {
  color: gray !important;
  font-size: 12px;
}

.forum-meta b{
  color: gray !important;
  font-size: 10px;
}

.forum-error {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  color: rgba(231, 76, 60,1.0);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.newThread-show {
  width: 100%;
  display: flex;
  font-family: Roboto;
  align-items: center;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

.newThread-hidden {
  display: flex;
  width: 100%;
  font-family: Roboto;
  text-align: left;
  margin-bottom: 5px;
}

.newThread-none {
  margin-top: 40px;
}

.newThread-message {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  color: rgba(231, 76, 60,1.0);
  text-align: center;
}

.newThread-message a:-webkit-any-link{
  text-decoration:none;
  cursor: pointer;
  color: green;
}

.newThread-message a:-webkit-any-link:hover{
  text-decoration:underline;
}

.newThread-wrapper {
  width: 100% !important;
  display: block !important;
  margin-top: 10px !important;
  margin-bottom: 25px !important;
  line-height: normal !important;
}

.newThread-toolbar {
  padding: 0px !important;
  border: none !important;
  display: flex;
  justify-content: flex-start;
  background: white;
  flex-wrap: wrap;
  font-size: 15px;
  user-select: none;
  margin-left: -3px;
}

.newThread-toolbar a {
  color: black;
}

.newThread-editor {
  height: auto !important;
  padding: 0px !important;
  border: none !important;
  min-height: 100px;
}

.newThread-editor a{
  color: blue;
}

.threadContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.threadContainer a:-webkit-any-link {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.thread-list {
  width: 100% !important;
}

.thread-error {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  color: rgba(231, 76, 60,1.0);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.thread-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
  padding: 10px;
  margin-bottom: 20px;
}

.post-wrapper-edit {
  width: 100% !important;
  display: block !important;
  margin-top: 10px !important;
  margin-bottom: 25px !important;
  line-height: normal !important;
}

.post-wrapper-read {
  width: 100% !important;
  display: block !important;
  line-height: normal !important;
}

.post-editor {
  height: auto !important;
  min-height: 70px;
}

.post-editor a{
  color: blue;
}

.post-toolbar {
  padding: 0px !important;
  border: none !important;
  display: flex;
  justify-content: flex-start;
  background: white;
  flex-wrap: wrap;
  font-size: 15px;
  margin-left: -3px;
  user-select: none;
}

.post-toolbar a {
  color: black;
}

.post-dropdown {
  float: right;
}

.post-avatar {
  width: 80px;
  max-width: none !important; /*overrides semantic-ui-react max-width of 100% */
  height: 80px;
  border-radius: 6px;
  margin-left: -5px;
  margin-right: 12px;
}

.post-row {
  display: flex;
  flex-direction: row;
}

.post-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.post-name {
  font-weight: bold;
  font-size: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.post-username a{
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  color: gray !important;
}

.post-status {
  font-weight: normal;
  font-size: 14px;
  color: purple;
  margin-top: auto;
  margin-bottom: auto;
}

.post-time {
  color: gray !important;
  font-size: 14px;
}

.newPost-show {
  width: 100%;
  display: flex;
  font-family: Roboto;
  align-items: center;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
}

.newPost-none {
  margin: 30px auto;
  display: inline-block;
  text-align: center;
}

.newPost-message {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  color: rgba(231, 76, 60,1.0);
  text-align: center;
}

.newPost-message a:-webkit-any-link{
  text-decoration:none;
  cursor: pointer;
  color: green;
}

.newPost-message a:-webkit-any-link:hover{
  text-decoration:underline;
}

.newPost-wrapper {
  width: 100% !important;
  display: block !important;
  margin-bottom: 25px !important;
  line-height: normal !important;
}

.newPost-toolbar {
  padding: 0px !important;
  border: none !important;
  display: flex;
  justify-content: flex-start;
  background: white;
  flex-wrap: wrap;
  font-size: 15px;
  user-select: none;
  margin-left: -3px;
}

.newPost-toolbar a {
  color: black;
}

.newPost-editor {
  height: auto !important;
  padding: 0px !important;
  border: none !important;
  min-height: 100px;
}

.newPost-editor a{
  color: blue;
}

.richEditor-wrapper {
  width: 100% !important;
  display: block !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  line-height: normal !important;
}

.richEditor-editor {
  height: auto !important;
  border: 1px solid #F1F1F1 !important;
  padding: 5px !important;
  border-radius: 2px !important;
  min-height: 150px !important;
}

.richEditor-editor a{
  color: blue;
}

.richEditor-toolbar {
  padding: 6px 5px 0;
  border-radius: 2px;
  border: 1px solid #F1F1F1;
  display: flex;
  justify-content: flex-start;
  background: white;
  flex-wrap: wrap;
  font-size: 15px;
  margin-bottom: 5px;
  user-select: none;
}

.richEditor-toolbar a {
  color: black;
}

/* override css from react-draft-wywsgi
https://github.com/jpuri/react-draft-wysiwyg/blob/master/src/renderer/Image/styles.css
*/

.rdw-image-alignment-options-popup {
  position: absolute;;
  background: white;
  display: flex;
  padding: 5px 2px;
  border-radius: 2px;
  border: 1px solid #F1F1F1;
  width: 90px;
  cursor: pointer;
  z-index: 100;
}
.rdw-image-alignment-option {
  height: 20px;
  width: 20px;
  min-width: 20px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  background-color: #a36eff;
  height: 35px;
  color: white;
  font-size: 0.9em;
  border: 2px solid #a36eff;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #a36effa3;
  color: white;
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn .loader{
  height: 30px;
  width: 100%;
}

.btn .loader .loader-spinning-wheel{
  height: 20px;
  width: 20px;
}

.btn-custom{
  background-color: #69a3ff !important;
  color:black
}